**/*.ts
**/*.map
**/*.test.ts
node_modules
out
.vscode
.gitignore
.eslintrc.cjs
.prettierrc.json
.editorconfig
resources/media/*.mp4
resources/*.mp4
resources/banner_logo_v1.png
resources/init.png
out
out_tmp
