**/*.ts
**/*.map
**/*.test.ts
!package.json
!package.nls.json
!package.nls.es.json
!README.md
!CHANGELOG.md
!RELEASE_NOTES.md
!RELEASE_NOTES.es.md
!LICENSE

!dist/**
!l10n/**
node_modules/*
!node_modules/@vscode/ripgrep/**
out
.vscode
.gitignore
.eslintrc.cjs
.prettierrc.json
.editorconfig
resources/media/*.mp4
resources/*.mp4
resources/banner_logo_v1.png
resources/init.png
resources/banner_logo.webp
resources/init.webp
resources/background_mosaic_dark.png
resources/background_mosaic_light.png
resources/background_mosaic_dark.webp
resources/background_mosaic_light.webp
out
out_tmp
*.mp4

.agent/
.devcontainer/
*.zip
resources/icon.svg
resources/icon_origin.png
resources/icon.original-1024.png
resources/banner_logo.png
resources/banner_logo_v1.png
resources/init.png
*.ini
*.txt
